<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorld"
        tools:targetApi="31">
        <activity
            android:name=".course_introduction_activity"
            android:exported="false" />
        <activity
            android:name=".donequiz_activity"
            android:exported="false" />
        <activity
            android:name=".review_activity"
            android:exported="false" />
        <activity
            android:name=".question_activity"
            android:exported="false" />
        <activity
            android:name=".course_activity"
            android:exported="false" />
        <activity
            android:name=".LoadingQuestion_Long"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".Choose_question_types"
            android:exported="false" />
        <activity
            android:name=".create_Multiple_choice"
            android:exported="false" />
        <activity
            android:name=".create_yes_no"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home_activity" />
    </application>

</manifest>